<% @tables.in_groups_of(8).each do |page| %>
  * = Bonbonerie, V = Vegetarian, VG = Vegan, GF = Gluten Free, F = Fructose Free, N = Nut Free, E = Egg Free, D = Dairy Free, S = Special (see note), C = Child
  <table class='seating'>
    <% page.in_groups_of(4).each do |tables| %>
      <tr>
        <% tables.compact.each do |table, people| %>
          <td width='25%' valign='top'>
            <table>
              <thead>
                <tr>
                  <td><h4>Table #<%= table %></h4></td>
                </tr>
              </thead>
              <tbody>
                <% people.each do |person| %>
                  <tr>
                    <td>
                      <strong><%= person.seat_number %></strong>
                      <%= link_to person.name, edit_person_path(person) %>
                      <strong><em><%= person_details(person) %></em></strong>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table><br><br><br><br><br>
<% end %>