<% @tables.in_groups_of(8).each do |page| %>
  * = Bonbonerie, V = Vegetarian, VG = Vegan, GF = Gluten Free, F = Fructose Free, N = Nut Free, E = Egg Free, D = Dairy Free, S = Special (see note), C = Child
  <table class='seating'>
    <% page.in_groups_of(4).each do |tables| %>
      <tr>
        <% tables.compact.each do |table, people| %>
          <td width='25%'>
            <h4>Table #<%= table %></h4>
            <% people.each do |person| %>
              <strong><%= person.seat_number %></strong>
              <%= link_to person.name, edit_person_path(person) %>
              <%= person_details(person) %>
              <br>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table><br><br><br><br><br>
<% end %>