<% @tables.in_groups_of(8).each do |page| %>
  <table class='seating'>
    <% page.in_groups_of(4).each do |tables| %>
      <tr>
        <% tables.compact.each do |table, people| %>
          <td>
            <h4>Table #<%= table %></h4>
            <% people.each do |person| %>
              <strong><%= person.seat_number %></strong>
              <%= link_to person.name, edit_person_path(person) %><br>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table><br>
<% end %>