/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require select2
 *= require_self
 *= require_tree .
 */


 body {
  margin: 2% 10%;
 }

 @media print {
  a[href]:after {
    content: none !important;
  }

  body {
    font-size: 13px;
  }

  .navbar {
    display: none;
  }
}

.select2 {
  width: 15em;
}

.person {
  border-bottom: 1px solid black;
}